*#
*.aux
*.bbl
*.bib
*.blg
*.el
*.gz
*.idx
*.ilg
*.ind
*.log
*.maf
*.mtc*
*.pdf
*.toc
*_region_.tex
*~
/codigo/TAGS
/codigo/auto/
/codigo/_region_.tex
comentarios/

!/texto/LPO_en_Haskell.pdf
/texto/LPO_en_Haskell.tdo
